.header_container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#header_title {
    font-size: 42px;
    color: #000;
    margin: 1rem;
}